@model ParkyWeb.Models.Trail

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetById</title>
    
</head>
<body>

    <div class="container my-3">
        <h4>Trail</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Distance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Distance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Difficulty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Difficulty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("National Park")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NationalPark.Name)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

</body>
</html>
