@model EntityFrameworkwithASP.NetMVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Cat_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cat_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Sup_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Sup_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Prod_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
