@model IEnumerable<RoutingCheck.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllStudents</title>
</head>
<body>
    <p>
   
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.HomeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
          
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Address.HomeNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        
    </tr>
    }
    
    </table>
</body>
</html>
